* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: darkgray;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.flex-list-item {
  display: flex;
  align-items: center;
}

.full-width-container {
  background-color: bisque;
  width: 20%;
  box-shadow:
    0.15rem 0.15rem 0.4rem lightgray,
    -0.15rem 0.15rem 0.4rem lightgray;
}

.full-width {
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  outline: 0.05rem solid lightgray;
}

.add-input {
  background-color: transparent;
  flex-grow: 2;
  border: none;
  padding: 1rem 0;
}

.edit-input {
  flex-grow: 2;
  background-color: transparent;
  border: none;
}

.edit-input:focus,
.add-input:focus {
  outline: none;
}

.list-item {
  border: #ddd solid;
  border-width: 0.1rem 0;
  padding: 1rem;
}

.item-completed {
  margin-right: 1rem;
}

.item-description {
  flex-grow: 2;
  user-select: none;
}

.drag-button {
  padding: 0 0.5rem;
  cursor: move;
  background-color: transparent;
  border: none;
}

.drag-icon {
  align-self: center;
  pointer-events: none;
  user-select: none;
  height: 1rem;
}

.trash-button {
  background-color: transparent;
  border: none;
}

.trash-icon,
.enter-icon {
  pointer-events: none;
  height: 1rem;
  opacity: 0.5;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.enabled {
  display: inline-block;
}

.disabled {
  display: none;
}

.complete {
  text-decoration: line-through;
}

.app-header {
  font-size: 1.5rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .full-width-container {
    width: 95%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .full-width-container {
    width: 50%;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .full-width-container {
    width: 30%;
  }
}
